* {
  box-sizing: border-box;
  margin: 0;
}

html {
  overflow: hidden;
}

body {
  position: relative;
  background-color: black;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  overflow: hidden;
}

main {
  text-align: center;
  width: 100%;
  max-width: 440px;
  padding: 32px;
  border-radius: 16px;
  margin: 0 0 100px 0;
}

h1 {
  font: normal 600 24px/24px "Poppins", sans-serif;
  color: white;
  margin: 24px 0;
}

p {
  font: normal 400 20px/24px "Open Sans", sans-serif;
  margin: 24px 0 16px 0;
  color: white;
  opacity: 0.8;
}

input,
button {
  display: block;
  width: 100%;
  padding: 20px;
  border-radius: 6px;
  border: none;
}

main button {
  margin-top: 16px;
  padding: 20px;
  width: 100%;
  border: none;
  border-radius: 6px;
  background-color: rgba(255, 102, 0, 1);
  color: #fff;
  font: normal bold 16px/24px "Poppins", sans-serif;
  letter-spacing: 1px;
  transition: filter .2s;
}

main button:hover {
  cursor: pointer;
  filter: brightness(1.20);
}

.icone-explorer {
  width: 130px;
}

.astronauta {
  position: absolute;
  right: -30px;
  bottom: -50px;
  width: 170px;
}

#root {
  transition: 1s;
}

#pergunta {
  color: #fff;
  font: normal 400 14px/14px "Poppins", sans-serif;
  margin: 16px 0 0 0;
  opacity: .8;
}

#resposta {
  color: #fff;
  font: normal 600 18px/18px "Poppins", sans-serif;
  margin: 16px 0 0 0;
}

@media(min-width: 992px) {
  body {
    justify-content: space-between;
    margin: 0 0 0 15%;
  }

  main {
    margin: 0;
  }

  .icone-explorer {
    width: 200px;
  }

  main h1 {
    font-size: 40px;
  }

  #pergunta {
    font-size: 18px;
    line-height: 18px;
    margin: 32px 0 0 0;
  }

  #resposta {
    font-size: 22px;
    line-height: 22px;
    margin: 32px 0 0 0;
  }

  .astronauta {
    width: 400px;
  }
}

@media(min-width: 1366px) {
  body {
    margin: 0 0 0 20%;
  }

  .astronauta {
    width: 600px;
  }
}